@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ubuntu+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    width: 33%;
    border: 2px solid white;
    border-radius: 20px;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style-type: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color: white;
    color: gray;
}
.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background{
    background:url('/images/Sulu-Taw-Tawi-Tourist-Destination.jpg');
    background-size: cover;
    background-blend-mode: white;
}

.main-box{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin: auto;
    height: 60%;
}

.firstSection{
    height: 200Vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 50px;
    display: blocl;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.text-small{
    font-size: 18px;
}

.btn{
    margin: 7px 3px;
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 8px;
    background:none;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
}

.left{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
    flex-direction: row-reverse;
}
.para{
    padding: 0 65px;
}

.imgFluid{
    border: 2px solid white;
    border-radius: 26px;
    margin-top: 19px;
    width:300px;
}