@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ubuntu+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1e3a8a;
    cursor: pointer;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img{
    width: 33%;
    border: 2px solid white;
    border-radius: 20px;
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style-type: none;
    padding: 26px 30px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color: white;
    color: gray;
}
.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background{
    background:url('/images/Sulu-Taw-Tawi-Tourist-Destination.jpg');
    background-size: cover;
    background-blend-mode: white;
}

.main-box{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin: auto;
    height: 60%;
}

.firstSection{
    height: 200Vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 50px;
    display: blocl;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.text-small{
    font-size: 18px;
    padding: 30px 0;
}

.btn{
    margin: 7px 3px;
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 8px;
    background:none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
}

.left{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
    flex-direction: row-reverse;
}
.para{
    padding: 0 65px;
}

.imgFluid{
    border: 2px solid white;
    border-radius: 26px;
    margin-top: 19px;
    width:300px;
}

.contact{
    background:#1e3a8a;
    height: 833px;
    color: white;
}

.text-center{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    padding-top: 20px;
    font-size: 35px;
    text-decoration: underline;
    cursor: pointer;
}

.form{
    max-width: 700px;
    margin: 25px auto;
}

.form-input{
    width: 100%;
    font-size: 17px;
    border: 2px solid gray;
    margin: 14px 0;
    padding: 2px 13px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.btn-dark{
    color: black;
    font-size: 20px;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e3a8a;

}
hr{
    padding: 50px 0;
}

.text-footer a{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 1140px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #searh{
        width: 100%;
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
}